/ASCII_Value.class
/Armstrong_number.class
/Even_odd.class
/Factors.class
/Factors_NegativeNum.class
/Largest_number.class
/Leap_year.class
/Lowercase.class
/Palindrome_number.class
/Positive_negative.class
/PrimeNum.class
/Prime_number.class
/Reverse_number.class
/ShortCuts.class
/Sum_of_n_numbs.class
/Swapping.class
/Text_5_Times.class
/Uppercase.class
/Vowel_consonant.class
